@import "../../styles/common.scss";
.header {
  width: 100%;
  padding: 0rem 1rem;

  mat-form-field {
    width: 80%;
    padding-right: 1rem;
  }
}

.tareas-input {
  color: $violet-color;
  font-size: $font-medium;
  padding: 5px;
  margin: 10px;
  border: 1px solid;
}

.lista-tareas-container {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid;

  .tarea-item {
    padding: $padding-s;
    color: red;
    font-size: $font-medium;

    &.visible {
      color: green;
    }
  }
}
