<form class="form-product" (ngSubmit)="onSubmit()" [formGroup]="productForm">

  <mat-form-field>
    <mat-label>Nombre del producto</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>


  <div *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.dirty || productForm.get('name')?.touched)">
    <mat-error *ngIf="productForm.get('name')?.errors?.required">Campo requerido.</mat-error>
    <mat-error *ngIf="productForm.get('name')?.errors?.minlength">Longitud minima requerida.</mat-error>
  </div>

  <mat-form-field>
    <mat-label>Precio del producto</mat-label>
    <input matInput type="number" formControlName="price">
  </mat-form-field>

  <div class="form-footer">
    <button type="submit" mat-raised-button color="primary" [disabled]="!productForm.valid">
      {{editMode ? 'Actualizar' : 'Guardar'}}
    </button>
    <button type="submit" mat-raised-button color="basic" (click)="onCancel()">Cancelar</button>
  </div>
</form>
