@import "../styles/common.scss";

.tareas-input {
  color: $violet-color;
  font-size: $font-medium;
  padding: 5px;
  margin: 10px;
  border: 1px solid;
}

.lista-tareas-container {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid;

  .tarea-item {
    padding: $padding-s;
    color: red;
    font-size: $font-medium;
    border-bottom: 1px solid gray;

    &.visible {
      color: green;
    }

    &:last-child {
      border-bottom: 0px;
    }
  }
}
