.task-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .task {
    display: flex;
    flex-direction: column;
    .date {
      font-size: 12px;
      color: gray;
    }
  }
}
