<div class="cart-panel">
  <div class="cart-item" *ngFor="let item of itemsCart">
    <div class="title">{{item.productTitle}}</div>
    <div class="quantity">Cantidad: {{item.quantity}}</div>
    <div class="price">Total: ${{item.totalPrice}}</div>
    <mat-divider></mat-divider>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="checkout.emit()">
      Comprar
    </button>

    <button mat-raised-button color="warning" (click)="delete.emit()">
      Limpiar
    </button>
  </div>
</div>
